extends ../layouts/layout-main
block content
    h2 #{title}
    each item in menu_items
            li
                div
                p #{item[0]}
                p #{item[1]}
                img(src=item[2])
