doctype html
html
    head
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet")
        link(href="/css/burgers.css" rel="stylesheet")
        title #{title}
    body
        div(id='page-wrapper')
            header
                h1 Express Burger
                nav 
                    ul
                        each item in config.nav
                            li
                                a(href=item[1]) #{item[0]}
            div(id="content")
                block content
        footer
            h3 Express Burger &copy2017
        block script
