extends ../layouts/layout-main
block content
    div(class='grid')
        div(class='row')
            div(class='col-6 offset-3')
                h2(class='menu-header txt-center') #{title}
    each item in menu_items
        div(class='menu-item')
            img(class='item-img img' src=item[2])
            div(class='flex-vertical-center')
                h3(class='item-header') #{item[0]}
                hr(class='separator')
                p(class='item-description') #{item[1]}