doctype html
html
html: head
    style.
        #map {
            width: 100%;
            height: 400px;
        }
html: body
    div(id='map')
    script(src='/js/directions.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + config.apiKey + '&callback=burgers.initMap')
