extends ../layouts/layout-main
block content
    div(class='item')
        h2(class='menu-header') Check us out
        p(class='description') 143 Main St, Salt Lake City, UT 84111
        div(class='col-4')
            div(id='map')
block script
    script(src='/js/directions.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + config.apiKey + '&callback=burgers.initMap')
