extends ../layouts/layout-menu
prepend content
    h2 Entrees
        ul
            each item in config.entree
                li
                    p #{item[0]}
                    img(src=item[1])
