extends ../layouts/layout-menu
prepend content
    //- h2 Entrees
    //- div
    //-     ul
    //-         each item in config.entrees
    //-             li
    //-                 div
    //-                     p #{item[0]}
    //-                     p #{item[1]}
    //-                     img(src=item[2])
